.menu-button{
  position: absolute;
  right: 0;
  top: 1%;
}

.bottom{
position: absolute;
bottom: 0;
}

main{
  margin: 3rem;
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


ul {
list-style-type: none;
margin: 0;
padding: 0;
}

li{
float: left;
}
